*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/* ==================
Typography
================== */

h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  color: #143774;
}

.subtitle {
  color: #1792d2;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-top: 0;
}

/* ==================
Layout
================== */

header {
  background-color: #f8f8f8;
  padding: 2em 0;
}

.container {
  width: 90%;
  max-width: 900px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}

/* ==================
Navigation
================== */

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0.3em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}

img {
  width: 500px;
}
